.booking-page-container {
  background-color: #324645;
  color: white;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: calc(var(--footer-height) + 1rem);
}

.booking-header {
  text-align: center;
}

.booking-headline {
  font-size: clamp(1.8rem, 2.4vw, 2.5rem);
  font-family: "Cooper Black", serif;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 0.9rem;
}

/*--- Sparad sökning-ruta --- */
.search-info-bar {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 80%;
  padding: 0.5rem;
  background-color: #AB9969;
  box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.5);
}

.search-info-headline {
  font-size: clamp(0.9rem, 1.5vw, 1.5rem);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 90%;
  padding-bottom: 0.5rem;
  grid-column: 1 / -1;
  text-align: center;
  align-self: center;
}

.search-summary-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: clamp(0.65rem, 1vw, 1.125rem);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.search-dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  text-align: center;
}

.update-booking-btn {
    grid-column: 1 / -1;
    padding: 0.15rem 0;
    background-color: transparent;
    color: white;
    font-size: clamp(0.67rem, 1vw, 1.125rem);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    padding-top: 0;
    border: none;

}

.update-booking-btn:hover {
    background-color: #8b7946c0;
    transition: all 0.2s ease;

}

.search-meta {
  display: flex;
  flex-direction: column;
}

.search-info-content {
  padding-left: 0.3rem;
}

.info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.7rem;
}

.search-info-title {
  margin-bottom: 0;
}

.search-info-subtext {
  padding-right: 0.3rem;
  margin-bottom: 0;
}

/*--- Rum korten ---*/
.available-rooms {
  margin-top: 2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.03);
  border: 1px dotted rgba(255,255,255,0.13);
  border-radius: 10px;
}

.booking-room-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.booking-room-image {
  width: 70vw;
  border-radius: 12px;
  overflow: hidden;
}

.booking-room-content {
  margin-bottom: 1rem;
  width: 70vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.booking-room-name {
  padding-top: 1rem;
  font-size: clamp(0.9rem, 1.2vw, 1.5rem);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.booking-room-desc, .booking-room-max {
  font-size: clamp(0.7rem, 1vw, 1.2rem);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.booking-room-max {
  font-style: italic;
  margin-top: -0.5rem;
}

.booking-room-btn {
  background-color: #AB9969;
  color: white;
  border-radius: 2px;
  font-size: clamp(0.9rem, 1.2vw, 1.5rem);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 0.3rem;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}

.booking-addon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
  border: none;
}

.addon-options {
  display: flex;
  align-items: center;
  font-size: clamp(0.7rem, 1vw, 1rem);
  gap: 1rem;
  flex-direction: row;
  margin-top: -0.5rem;
  padding: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.room-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.continue-booking-btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: clamp(0.55rem, 1vw, 1.5rem);
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #AB9969;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
