.hero-section {
  position: relative;
  height: calc(100dvh - var(--header-height) - var(--footer-height));
  min-height: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.hero-bg-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 1;
  max-height: clamp(500px, 80vh, 55rem);
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: clamp(0.5rem, 4vh, 4rem);
  color: white;
  width: 100%;
  max-width: 1200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-title {
  font-size: clamp(1.3rem, 6vw, 3.5rem);
  font-weight: 700;
  margin-bottom: clamp(0.5rem, 2vh, 1.5rem);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  line-height: 1.2;
  z-index: 2;
}

.hero-subtitle {
  font-size: clamp(0.7rem, 2.5vw,1.3rem);
  max-width: clamp(300px, 80vw, 800px);
  margin-bottom: 2rem;
  line-height: 1.5;
  z-index: 2;
}

@media (min-width:321px) and (max-width:374px) {
  .hero-title {
    font-size: 1.3rem;
  }

  .hero-subtitle {
    font-size: 0.87rem;
  }
}

@media (min-width:375px) and (max-width:424px) {
  .hero-title {
    font-size: 1.6rem;
    margin-top: 1rem;;
  }

  .hero-subtitle {
    font-size: 0.9rem;
  }
}

@media (min-width:425px) and (max-width:767px) {
  .hero-bg-img {
    max-height: 715px;
  }

  .hero-title {
    font-size: 2.5rem;
    margin-top: 1rem;;
  }

  .hero-subtitle {
    font-size: 1.5rem;
  }
}

@media (min-width:768px) {
  .hero-bg-img {
    max-height: 53rem;
  }

  .hero-title {
    font-size: 2.3rem;
    margin-top: 0.2rem;
  }

  .hero-subtitle {
    font-size: 1.1rem;
    white-space: nowrap;
    align-self: center;
    margin-right: 2rem;
  }
}

@media (min-width:1024px) {
  .hero-bg-img {
    max-height: 55rem;
  }
}
